[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "jorgebucaran/fisher"]
	path = fish/fisher
	url = https://github.com/jorgebucaran/fisher
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vim/plug"]
	path = vim/plug
	url = https://github.com/junegunn/vim-plug
